@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <br />
    <br />
    <p1">Welcome to the Joel Hilton Movie Collection!</p1">
    <br />
    <br />
    <br />
    <img style="border-radius: 8px;" src="~/1.jpg" width="400" />
    <br />


</div>
