@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Welcome to my blog";
}

<div class="text-center">
    <h1>Where we discuss all things movies!</h1>
    <br />
    <h4>Click on the logo below to see our latest podcasts!</h4>
    <br />
    <a href="https://baconsale.com/">
        <img alt="Baconsale" src="~/lib/baconsale.png" width="250" />
    </a>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>